:root {
    --primary-color:#0c6d76;
    --secondary-color:#ea746b;
    --primary-text-color:#fff;
    --secondary-text-color:#fff;
    --app-height:100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text-color);
    font-size: 100%;
}
.color-code {
    opacity: 0.7;
    font-size: 3rem;
    position: absolute;
    cursor: text;
    
}
.content .color-code {
    top: 0;
}
nav .color-code {
    bottom: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .8rem;
    font-size: 2rem;
}
.container {
    height: var(--app-height);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    background-color: var(--primary-color);
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--primary-text-color);
    cursor: pointer;
}
nav {
    flex-direction: column;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--secondary-text-color);
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    * {
        font-size: 108%;
    }
}